<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<%- include ../partials/banner.ejs %>

<!--add contact page content-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="px-4 py-4 my-4 text-center">
                <h1 class="display-5 fw-bold"><%= title %> to the Contact List Table</h1>
            </div>

            <form class="form inline-block" method="POST">
                <div class="form-group">
                    <label for="nameContact">Contact Name</label>
                    <input type="text" class="form-control" id="nameContact" placeholder="Enter Contact Name"
                        name="name" required>
                </div><br>

                <div class="form-group">
                    <label for="phoneContact">Contact Number</label>
                    <input type="text" class="form-control" id="phoneContact" placeholder="Enter Phone Number"
                        name="phone" required>
                </div><br>

                <div class="form-group">
                    <label for="emailContact">Email Address</label>
                    <input type="text" class="form-control" id="emailContact" placeholder="Enter Email Address"
                        name="email" required>
                </div><br>

                <button class="btn btn-primary" type="submit"> Submit </button>

                <a href="/contact-list" class="btn btn-warning"> Cancel </a>

            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>